body {
    border: 3px coral solid;
    border-radius: 0 25px 0 25px;
    margin: 10px 150px 10px 150px;
    text-align: center;
    background-color: rgb(39, 38, 38);
    color: thistle;
}
.italic {
    font-style: italic;
    color: lightcoral;
}
table {
    text-align: center;
    margin: auto;
    border: 1px solid brown;
    background-color: #0c0e0d;
}
.first {
    background-color: rgb(160, 64, 29);
    border: 1px solid rgb(160, 64, 29);
    padding:2% 2% 2% 2%;
    margin: 10px 200px 10px 200px;
}
.second {
    border:coral 1px solid;
    margin-left: 350px;
    margin-right: 350px;
    padding: 10px 10px 120px 10px;
}
ul {
    text-align: center;
    margin: auto;
    position: absolute;
}
.tbl {
    width: fit-content;
    height: 40px;
}
img {
    border-radius: 50px 10px 50px 10px;
}
h4 {
    background-color: red;
    color: wheat;
    margin: 40px 10px 10px 10px;
}
h1 {
    margin: 50px 0 40px 0;
}
button {
    background-color: dimgrey;
}
.hob {
    background-color: rgb(233, 81, 81);
}
.myname {
    font-size: 20px;
    color: rgb(166, 172, 172);
}